[Unit]
Description=Data caching daemon for rrdtool
After=network.service

[Service]
Type=forking
PIDFile=/run/rrdcached.pid
ExecStart=/usr/bin/rrdcached -w 1800 -z 1800 -f 3600 -s librenms -U {{ service_account }} -G {{ service_account }} -B -R -j /var/tmp -l 0.0.0.0:42217 -t 4 -F -b /opt/librenms/rrd/

[Install]
WantedBy=default.target
